@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?l21qf0');
  src:  url('fonts/icomoon.eot?l21qf0#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?l21qf0') format('truetype'),
    url('fonts/icomoon.woff?l21qf0') format('woff'),
    url('fonts/icomoon.svg?l21qf0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
  position: absolute;
  left: 420px;
  top:6px;
  font-size: 25px;
}
.icon-heart:hover{
  color:red;
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  cursor: pointer;


}
.icon-star:before {
  content: "\e901";
  position: absolute;
  right: 150px;
  font-size: 20px;
  cursor: pointer;
}

.icon-star:hover{
  color: yellow;
}

.icon-search:before {
  content: "\e902";
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  top:10px;
}

.icon-search:hover {
  color: blue;
}

.icon-bulb:before {
  content: "\e904";
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  left:40px;
  top:10px;
}

.icon-bulb:hover {
  color: yellow;
}
.icon-music:before {
  content: "\e903";
  position: absolute;
  right: 200px;
  font-size: 20px;
  cursor: pointer;
}

.icon-music:hover{
  color:blue;
}

.icon-share2:before {
  content: "\ea82";
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  left: 60px;
  top:10px;
}
.icon-facebook2:before {
  content: "\ea91";
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 150px;
  top:10px;

}

.icon-facebook2:hover {
  color: blue;
}
.icon-twitter:before {
  content: "\ea96";
  position: absolute;
  font-size: 20px;
  cursor: pointer;
  right: 110px;
  top:10px;
}

.icon-twitter:hover {
  color: #98ABC9;
}
